.page {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.heading {
  color: rgb(48, 146, 232);
  font-size: 24px;
}

.header__heading {
  text-align: center;
  margin: 12px;
}

.content {
  display: flex;
}

.text {
  width: 500px;
  border: 3px solid rgb(211, 97, 154);
}

.content__text {
  margin: auto;
}